<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>View</title>
  <!--bootstrap includes-->
  {% include "links.html" %}
  <link rel="stylesheet" href="{%static 'workout.css' %}"/>
  <script src="{%static 'workout.js' %}"></script>
</head>
<body>
  {% include "nav.html" %}
  <p>
    <h1 class="center-h">Exercises</h1>
    <br>
    {% if msg %}
    <div class="center-div">
      <div>
        <a href="/" class="btn btn-danger">Back</a>
        <a href="/core/view/{{ id }}/add_exercise/" class="btn btn-dark">Add Exercise</a>
      </div>
    </div>
    {% else %}
    <br>
      <table class="table-striped" cellspacing="0" width="100%">
	    <tr>
	      <th><br><p>Exercise Name</p></th>
	      <th><br><p>Reps</p></th>
		    <th><br><p>Sets</p></th>
        <th><br><p>Weight (Ib)</p></th>
        <th><br><p>Action</p></th>
	    </tr>
      {% for row in table_data %}
      <tr>
	      	<td><br><p>{{ row.exercise }}</p></td>
	      	<td><br><p>{{ row.reps }}</p></td>
	      	<td><br><p>{{ row.sets }}</p></td>
          <td><br><p>{{ row.weight }}</p></td>
          <td>
	        	<a class="btn btn-dark" href="/core/view/{{ id }}/edit_exercise/{{ row.id }}/">Edit</a>
            <a class="btn btn-danger" href="#" onclick="confirmDeleteModal({{ row.id }})">Delete</a>
		      </td>
		    </tr>
      {% endfor %}
      </table>
      <br>
      <div class="center-div">
          <br>
          <a href="/" class="btn btn-danger">Back</a>
          <a href="/core/view/{{ id }}/add_exercise/" class="btn btn-dark">Add Exercise</a>
      </div>
      <br>
      <hr>

  <div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Delete Exercise</h4>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this exercise?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
          <span id= 'deleteButton'></span>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
</body>
</html>
